.InputDiv {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: 3px solid #565267;
}

.AddUser {
  background-color: rgb(171, 227, 227);
  margin: 1px;
  padding: 0.1px;
}

.InputBox {
  margin: 0px;
  padding-bottom: 0px;
  font-weight: bold;
}

.InputLabel {
  margin: 0px;
  padding-bottom: 0px;
  font-weight: bold;
}

.AddUser input:hover {
  outline: none;
  background: antiquewhite;
  border-color: #d3a4dc;
}

.AddUser input:focus {
  outline: none;
  background: white;
  border-color: #d3a4dc;
}
